.card__delete-button {
  background-color: rgba(255, 255, 255, 0);
  width: 18px;
  height: 19px;
  border: none;
  position: absolute;
  top: 20px;
  right: 20px;
  box-sizing: border-box;
  background-image: url('../../../images/delete-button.svg');
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
  transition: opacity 0.15s ease-out;
}

.card__delete-button:hover {
  opacity: 0.6;
}
