.profile {
  display: flex;
  align-items: center;
  padding: 40px 200px 0;
  width: calc(100% - 200px * 2);
  gap: 30px;
}

@media screen and (max-width: 1024px) {
  .profile {
    flex-direction: column;
    width: calc(100% - (19px + 19px));
    padding: 42px 19px 0 19px;
    align-items: center;
    gap: 0;
  }
}
