.profile__about {
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  grid-column: 1 / 2;
  margin: 0;
  max-width: 336px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 617px) {
  .profile__about {
    font-size: 14px;
    line-height: 17px;
    align-self: start;
  }
}
