.header {
  margin: 45px auto 0;
  min-height: 74px;
  width: calc(100% - 200px * 2);
  min-width: 583px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 617px) {
  .header {
    margin: 28px 0 0;
    height: 56px;
    width: 100%;
    min-width: 282px;
  }
}
