.form__error {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  margin-bottom: 13px;
  max-width: 358px;
  min-height: 30px;
  opacity: 0;
}

.form__error-text:last-of-type {
  margin-bottom: 30px;
}
