.footer {
  width: calc(100% - 200px * 2);
  min-width: 583px;
  margin: 66px auto 60px;
  flex-shrink: 0;
}

@media screen and (max-width: 617px) {
  .footer {
    width: calc(100% - 20px * 2);
    min-width: 282px;
    margin: 48px auto 36px;
  }
}
